
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>¡Tus Productos!</h3>
        </div>
        <div class="card-body">
            <table class="table .table-hover table-bordered  ">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products"  class="text-center">
                        <td><img src="{{basePath}}{{product.producto.foto}}" style="width:84px; height:60px;"/></td>
                        <td>{{product.producto.nombre}}</td>
                        <td>{{product.cantidad}}</td>  
                        <td>$ {{product.total}}</td>                       
                        <td>  
                            <button (click)="eliminarProducto(product.id)" class="btn btn-danger">Eliminar</button>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="infoGeneral">
                <h6 class="mb-0 total"><span>{{fechaActual}}</span></h6>
                <br>
                <h6 class="mb-0 total"><span>Total: $ {{totalCompra}}</span></h6>

            </div>

        </div>
    </div>
</div>